*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    color: rgb(255, 255, 255);
    background: #BB5454;
    min-height:100%;
}

html, body {
    height: 100%;
    }
body, input, button, textarea{
    font: 600 18px Nunito, sans-serif;
}